.header {
    min-height: 50px;
    @include dFlex(row, space-between, center);
    padding-left: 20px;
    background-color: $background-color-1;
    background-image: url('../images/header\ pattern\ image.png');
    background-blend-mode: overlay;
}

.navbar {
    font: normal normal medium 16px/20px QuickSand;
    margin: 0;
    min-height: 50px;
    color: $text-color-1;
    @include dFlex(row, none, center);
    list-style-type: none;
}

.nav-item {
    @include dFlex(row, none, center);
    min-height: inherit;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.nav-item.active {
    color: $text-color-2;
    border-bottom: 5px solid $border-color-6;
}

.nav-item:hover {
    color: $text-color-2;

    .dropbtn {
        img {
            filter: brightness(0) invert(1);
        }
    }
}

.hamburger-menu {
    display: none;
}

.nav-item.avatar {
    width: 30px;
    min-height: 0;
    height: auto;
    border-radius: 50%;
    border: 1px solid $border-color-2;
}

.avatar-img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.badge {
    background-color: $background-color-5;
    color: $text-color-2;
    position: absolute;
    top: 10%;
    left: 70%;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
}

.avatar-badge {
    background-color: $background-color-3;
    color: $text-color-3;
    position: absolute;
    top: -20%;
    left: 60%;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
}

@media screen and (max-width: 1150px) {
    .nav-item-lg {
        display: none;
    }

    .hamburger-menu {
        @include dFlex(row, none, center);
        min-height: inherit;
        justify-content: none;
        margin-left: 20px;
        margin-right: 20px;
        text-decoration: none;
        position: relative;
        cursor: pointer;
    }
}

.dropdown {
    text-transform: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 14px;
    line-height: 18px;
    color: $text-color-5;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 3px 16px 0px $text-color-4;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.alerts-container,
.announcements-container {
    height: 500px;
    overflow-y: scroll;
}

.alert,
.announcement {
    @include dFlex(column, none, none);
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid $border-color-4;
}

.alert-unchecked,
.announcement-unchecked {
    background-color: $background-color-8;
}

.alert-title,
.announcement-title {
    @include dFlex(row, space-between, none);
    font-weight: 600;
    color: $text-color-5;
    margin-bottom: 0;

    p {
        margin: 0;
    }

    img {
        height: 15px;
        width: 15px;
    }

    ;
}

.alert-course,
.announcement-course {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.announcement-heading {
    @include dFlex(row, space-between, none);

    p {
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;

        span {
            color: $text-color-4;
        }
    }

    img {
        width: 15px;
        height: 15px;
        align-self: center;
    }
}

.alert-course span,
.announcement-course span,
.alert-date-time,
.announcement-files,
.announcement-date-time {
    color: $text-color-4;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.announcement-desc-container {
    @include dFlex(row, none, none);
}

.announcement-files {
    @include dFlex(row, none, none);

    img {
        height: 13px;
        align-self: center;
    }
}

.alert-date-time {
    align-self: flex-end;
}

.announcement-date-time {
    margin-left: auto;
}

.dropdown-footer {
    @include dFlex(row, center, center);
    padding: 10px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $text-color-5;
    box-shadow: 0px -1px 10px $text-color-4;
}

.dropdown-footer-btn {
    text-align: center;
    width: 100%;
    color: $text-color-7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    // margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.dropdown-content-mobile {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 14px;
    line-height: 18px;
    color: $text-color-5;
    background-color: $background-color-3;
    min-width: 250px;
    box-shadow: 0px 3px 16px 0px $text-color-4;
    z-index: 1;
}

.nav-items-mobile {
    @include dFlex(column, none, none);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0;
    color: $text-color-5;
    background-color: $background-color-3;
    width: 100%;
    z-index: 1;

    a {
        text-decoration: none;
    }
}

.nav-item-mobile {
    @include dFlex(row, none, center);
    color: $text-color-7;
    background-color: $background-color-3;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-item-mobile a {
    color: inherit;
}

.hamburger-menu:hover .dropdown-content-mobile {
    display: block;
}


input[class="toggle"] {
    display: none;
}

.wrap-collapsible {
    @include dFlex(column, none, space-between);
    color: $text-color-7;
    background-color: $background-color-3;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.collapsible-toggle {
    width: 100%;
}

.lbl-toggle {
    @include dFlex(row, space-between, center);
    cursor: pointer;

    p {
        margin: 0;
    }

    img {
        height: 15px;
        width: 15px;
        filter: invert(33%) sepia(76%) saturate(366%) hue-rotate(103deg) brightness(101%) contrast(96%);
    }
}

.collapsible-content {
    width: 100%;
    max-height: 0px;
    margin-top: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-content .content-inner {
    // background-color: $background-color-9;
    @include dFlex(column, none, none);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0;
    color: $text-color-7;
    // background-color: $background-color-9;
    width: 100%;

    .nested-nav-item-mobile {
        @include dFlex(row, none, center);
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px 10px 5px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}