// Background Colors
$background-color-1: #1F2834;
$background-color-2: #EEE;
$background-color-3: #FFF;
$background-color-4: #E0E1E1;
$background-color-5: #2A7FF3;
$background-color-6: #8DDC97;
$background-color-7: #FFE4E6;
$background-color-8: #FFFFEE;

// Text Colors
$text-color-1: #3FD28B;
$text-color-2: #FFF;
$text-color-3: #000;
$text-color-4: #666;
$text-color-5: #222;
$text-color-6: #D80000;
$text-color-7: #1F7A54;
$text-color-8: #616161;

// Border Colors
$border-color-1: #616161;
$border-color-2: #8DDC97;
$border-color-3: #000;
$border-color-4: #CCC;
$border-color-5: #E0E1E1;
$border-color-6: #FFF;