@font-face {
  font-family: "QuickSand";
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "QuickSand", sans-serif;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 20px;
  border-left: 1px solid #616161;
}

.grayscale-img {
  filter: grayscale(100%);
}

.header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background-color: #1F2834;
  background-image: url("../images/header pattern image.png");
  background-blend-mode: overlay;
}

.navbar {
  font: normal normal medium 16px/20px QuickSand;
  margin: 0;
  min-height: 50px;
  color: #3FD28B;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  min-height: inherit;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.nav-item.active {
  color: #FFF;
  border-bottom: 5px solid #FFF;
}

.nav-item:hover {
  color: #FFF;
}
.nav-item:hover .dropbtn img {
  filter: brightness(0) invert(1);
}

.hamburger-menu {
  display: none;
}

.nav-item.avatar {
  width: 30px;
  min-height: 0;
  height: auto;
  border-radius: 50%;
  border: 1px solid #8DDC97;
}

.avatar-img {
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.badge {
  background-color: #2A7FF3;
  color: #FFF;
  position: absolute;
  top: 10%;
  left: 70%;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem;
}

.avatar-badge {
  background-color: #FFF;
  color: #000;
  position: absolute;
  top: -20%;
  left: 60%;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem;
}

@media screen and (max-width: 1150px) {
  .nav-item-lg {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    min-height: inherit;
    justify-content: none;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
  }
}
.dropdown {
  text-transform: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 14px;
  line-height: 18px;
  color: #222;
  background-color: #f9f9f9;
  min-width: 350px;
  box-shadow: 0px 3px 16px 0px #666;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.alerts-container,
.announcements-container {
  height: 500px;
  overflow-y: scroll;
}

.alert,
.announcement {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid #CCC;
}

.alert-unchecked,
.announcement-unchecked {
  background-color: #FFFFEE;
}

.alert-title,
.announcement-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  font-weight: 600;
  color: #222;
  margin-bottom: 0;
}
.alert-title p,
.announcement-title p {
  margin: 0;
}
.alert-title img,
.announcement-title img {
  height: 15px;
  width: 15px;
}

.alert-course,
.announcement-course {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.announcement-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
.announcement-heading p {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.announcement-heading p span {
  color: #666;
}
.announcement-heading img {
  width: 15px;
  height: 15px;
  align-self: center;
}

.alert-course span,
.announcement-course span,
.alert-date-time,
.announcement-files,
.announcement-date-time {
  color: #666;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.announcement-desc-container {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}

.announcement-files {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
.announcement-files img {
  height: 13px;
  align-self: center;
}

.alert-date-time {
  align-self: flex-end;
}

.announcement-date-time {
  margin-left: auto;
}

.dropdown-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #222;
  box-shadow: 0px -1px 10px #666;
}

.dropdown-footer-btn {
  text-align: center;
  width: 100%;
  color: #1F7A54;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown-content-mobile {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 14px;
  line-height: 18px;
  color: #222;
  background-color: #FFF;
  min-width: 250px;
  box-shadow: 0px 3px 16px 0px #666;
  z-index: 1;
}

.nav-items-mobile {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #222;
  background-color: #FFF;
  width: 100%;
  z-index: 1;
}
.nav-items-mobile a {
  text-decoration: none;
}

.nav-item-mobile {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  color: #1F7A54;
  background-color: #FFF;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-item-mobile a {
  color: inherit;
}

.hamburger-menu:hover .dropdown-content-mobile {
  display: block;
}

input[class=toggle] {
  display: none;
}

.wrap-collapsible {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: space-between;
  color: #1F7A54;
  background-color: #FFF;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.collapsible-toggle {
  width: 100%;
}

.lbl-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.lbl-toggle p {
  margin: 0;
}
.lbl-toggle img {
  height: 15px;
  width: 15px;
  filter: invert(33%) sepia(76%) saturate(366%) hue-rotate(103deg) brightness(101%) contrast(96%);
}

.collapsible-content {
  width: 100%;
  max-height: 0px;
  margin-top: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible-content .content-inner {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #1F7A54;
  width: 100%;
}
.collapsible-content .content-inner .nested-nav-item-mobile {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 10px 5px;
}
.collapsible-content .content-inner .nested-nav-item-mobile a {
  text-decoration: none;
  color: inherit;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.content {
  flex: 1;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.content-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  background-color: #8DDC97;
}

.header-section {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-section span {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header-section.active {
  border-bottom: 5px solid #000;
}

.content-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #CCC;
}

.pagination-sort {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 20px;
}

.input-group-dropdown {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}
.input-group-dropdown label {
  font-size: 12px;
  line-height: 16px;
  color: #666;
}
.input-group-dropdown select {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font: inherit;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: contain;
}

.courses-container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 571px);
  justify-content: center;
}

.course {
  background-color: #FFF;
  border: 1px solid #E0E1E1;
  border-radius: 5px;
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 10px;
  position: relative;
}

.course-badge {
  text-transform: uppercase;
  background-color: #FFE4E6;
  color: #D80000;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.course-details {
  display: grid;
  grid-template-columns: 130px auto;
  gap: 20px;
}

.course-details-img {
  height: 200px;
  width: 100%;
}

.course-details-description {
  flex-direction: column;
}

h3, p {
  margin: 10px 0;
}

.cdd-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cdd-metadata {
  color: #666;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.cdd-metadata span {
  color: #222;
  font-weight: bold;
}
.cdd-metadata span.green {
  color: #1F7A54;
}

.cdd-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
.cdd-dropdown select {
  flex: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: contain;
}

.course-navigation {
  margin-top: auto;
  padding: 10px 0;
  border-top: 1px solid #CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  cursor: pointer;
}

.bottom-navbar {
  font: normal normal 600 16px/20px QuickSand;
  margin-top: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bottom-navbar button {
  font: inherit;
  color: #1F7A54;
  border: none;
  cursor: pointer;
}

.footer {
  min-height: 50px;
  background-color: #E0E1E1;
  color: #616161;
  text-align: center;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copyright-text {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 10px;
}
.copyright-text p:nth-child(2) {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */