body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    width: 457px;
    padding: 4px;
    gap: 14px;
    border: 1px solid #ccc;
}

.card-img {
    width: 130px;
    height: 130px;
}

.card-title {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 14px;
}

.card-description {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.card-button {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.card-button i {
    font-size: 20px;
    color: #858991;
    margin-right: 14px;
}

.card-button p {
    font-size: 15px;
    font-weight: 500;
    color: #858991;
    margin-top: 0px;
    margin-bottom: 0px;
}