@font-face {
    font-family: 'QuickSand';
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'QuickSand', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Utilities */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
.divider {
    height: 20px;
    border-left: 1px solid #616161;
}
/* ---------------------------------------------------- */


/* Header */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
.header {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background-color: #1F2834;
    background-image: url('images/header\ pattern\ image.png');
    background-blend-mode: overlay;
}

.navbar {
    font: normal normal medium 16px/20px QuickSand;
    margin: 0;
    min-height: 50px;
    color: #3FD28B;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-item {
    display: flex;
    min-height: inherit;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    position: relative;
}

.nav-item.active, .nav-item:hover {
    color: #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
}

.nav-item.avatar {
    width: 30px;
    min-height: 0;
    height: auto;
    border-radius: 50%;
    border: 1px solid #8DDC97;
}

.avatar-img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.badge {
    background-color: #2A7FF3;
    color: #FFFFFF;
    position: absolute;
    top: 10%;
    left: 70%;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
}

.avatar-badge {
    background-color: #FFF;
    color: #000;
    position: absolute;
    top: -20%;
    left: 60%;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
}

@media screen and (max-width: 1150px) {
    .nav-item-lg {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        min-height: inherit;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        text-decoration: none;
        position: relative;
        cursor: pointer;
    }
}
/* ---------------------------------------------------- */

/* Body */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
.content {
    flex: 1;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.content-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    background-color: #8DDC97;
}

.header-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.header-section.active {
    border-bottom: 5px solid #000000;
}

.header-section span {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.content-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.pagination-sort {
    display: flex;
    align-items: center;
    gap: 20px;
}

.input-group-dropdown {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.input-group-dropdown label {
    font-size: 12px;
    line-height: 16px;
    color: #666;
}

.input-group-dropdown select {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    font: inherit;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #222;
    appearance: none;
    background: transparent;
    background-image: url("icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: contain;
}

.content-body {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 571px);
    justify-content: center;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #E0E1E1;
    border-radius: 5px;
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.card-badge {
    text-transform: uppercase;
    background-color: #FFE4E6;
    color: #D80000;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.card-details {
    display: grid;
    grid-template-columns: 130px auto;
    gap: 20px;
}

.card-details-img {
    height: 100%;
    width: 100%;
}

.card-details-description {
    flex-direction: column;
}

h3, p {
    margin: 10px 0;
}

.cdd-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cdd-metadata {
    color: #666;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.cdd-metadata span {
    color: #222;
    font-weight: bold;
}

.cdd-metadata span.green {
    color: #1F7A54;
    font-weight: bold;
}

.cdd-dropdown {
    display: flex;
}

.cdd-dropdown select {
    flex: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #222;
    appearance: none;
    background: transparent;
    background-image: url("icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: contain;
}

.cdd-dropdown select[value=""] {
    color: #1F7A54;
}

.card-navigation {
    margin-top: auto;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    cursor: pointer;
}

.bottom-navbar {
    font: normal normal 600 16px/20px QuickSand;
    margin-top: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom-navbar button {
    font: inherit;
    color: #1F7A54;
    border: none;
}
/* ---------------------------------------------------- */


/* Footer */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
.footer {
    min-height:50px;
    background-color: #E0E1E1;
    color: #616161;
    text-align: center;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copyright-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright-text p:nth-child(2) {
    font-weight: bold;
}
/* ---------------------------------------------------- */