.content {
    flex: 1;
    background-color: $background-color-2;
    @include dFlex(column, space-between, center);
}

.card {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    color: $text-color-1;
    background-color: $background-color-3;
    border-top: 2px solid $border-color-1;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    h2 {
        margin: 0;
    }
}

.card-body {
    font: normal normal medium 16px/20px Quicksand;
    margin-top: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group-radios {
    @include dFlex(row, flex-start, center);
    gap: 30px;
}

.input-group-radio {
    @include dFlex(row, flex-start, center);
    gap: 5px;
    input {
        height: 20px;
        width: 20px;
        margin: 0;
        accent-color: $accent-color-1;
    }
    label {
        color: $text-color-2;
    }
}

.input-group-dropdown {
    display: grid;
    grid-template-rows: 1fr 1fr;
    label {
        font-size: 12px;
        line-height: 16px;
        color: $text-color-3;
    }
    select {
        font-family: inherit;
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        border: none;
        border-bottom: 1px solid $border-color-2;
        color: $text-color-1;
        appearance: none;
        background: transparent;
        background-image: url("../icons/arrow-down.svg");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
    }
}

.input-group-text {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    input {
        font: inherit;
        font-weight: 600;
        color: $text-color-3;
        border: none;
        border-bottom: 1px solid $border-color-2;
    }
    p {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: $text-color-4;
        justify-self: end;
    }
}

.password {
    display: grid;
    grid-template-columns: 9fr 1fr;
    border-bottom: 1px solid $border-color-2;
    input {
        border: none;
    }
    img{
        justify-self: end;
        border: none;
    }
}

.input-group-remember {
    @include dFlex(row, flex-start, center);
    gap: 5px;
    input {
        height: 20px;
        width: 20px;
        margin: 0;
        accent-color: $accent-color-1;
    }
    label {
        color: $text-color-2;
    }
}

.input-group-submit {
    margin-top: 10px;
    @include dFlex(row, center, center);
    gap: 10px;
    button {
        font-family: inherit;
        color: $text-color-5;
        background-color: $background-color-4;
        border: none;
        border-radius: 5px;
        padding: 10px 0px;
        cursor: pointer;
        width: 50%;
        box-shadow: 0px 3px 5px #0000003D;
    }
}

.bottom-navbar {
    padding: 10px;
    @include dFlex(row, center, center);
    gap: 10px;
    button {
        font-family: inherit;
        color: $text-color-4;
        border: none;
    }
}

