// Background Colors
$background-color-1: #1F2834;
$background-color-2: #EEE;
$background-color-3: #FFF;
$background-color-4: #3FD28B;
$background-color-5: #E0E1E1;

// Text Colors
$text-color-1: #222;
$text-color-2: #333;
$text-color-3: #666;
$text-color-4: #1F7A54;
$text-color-5: #1F2834;
$text-color-6: #616161;

// Accent Colors
$accent-color-1: #1F7A54;

// Border Colors
$border-color-1: #3AC7EC;
$border-color-2: #CCC;