@font-face {
  font-family: "QuickSand";
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "QuickSand", sans-serif;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 20px;
  border-left: 1px solid #616161;
}

.font-medium-600 {
  font-size: medium;
  font-weight: 600;
}

.header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  background-color: #1F2834;
  background-image: url("../images/header pattern image.png");
  background-blend-mode: overlay;
}

.content {
  flex: 1;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  color: #222;
  background-color: #FFF;
  border-top: 2px solid #3AC7EC;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.card-header h2 {
  margin: 0;
}

.card-body {
  font: normal normal medium 16px/20px Quicksand;
  margin-top: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group-radios {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.input-group-radio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.input-group-radio input {
  height: 20px;
  width: 20px;
  margin: 0;
  accent-color: #1F7A54;
}
.input-group-radio label {
  color: #333;
}

.input-group-dropdown {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.input-group-dropdown label {
  font-size: 12px;
  line-height: 16px;
  color: #666;
}
.input-group-dropdown select {
  font-family: inherit;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.input-group-text {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.input-group-text input {
  font: inherit;
  font-weight: 600;
  color: #666;
  border: none;
  border-bottom: 1px solid #CCC;
}
.input-group-text p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #1F7A54;
  justify-self: end;
}

.password {
  display: grid;
  grid-template-columns: 9fr 1fr;
  border-bottom: 1px solid #CCC;
}
.password input {
  border: none;
}
.password img {
  justify-self: end;
  border: none;
}

.input-group-remember {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.input-group-remember input {
  height: 20px;
  width: 20px;
  margin: 0;
  accent-color: #1F7A54;
}
.input-group-remember label {
  color: #333;
}

.input-group-submit {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-group-submit button {
  font-family: inherit;
  color: #1F2834;
  background-color: #3FD28B;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
  cursor: pointer;
  width: 50%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
}

.bottom-navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bottom-navbar button {
  font-family: inherit;
  color: #1F7A54;
  border: none;
}

.footer {
  min-height: 50px;
  background-color: #E0E1E1;
  color: #616161;
  text-align: center;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copyright-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.copyright-text p:nth-child(2) {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */